@import 'color';
@import 'font';

.AddInput-container {
  width: 27.813rem;
  height: 3.5rem;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .AddInput {
    border: none;
    outline: none;
    width: 24rem;
    height: 3.3rem;
    text-transform: uppercase;
    color: #FF4384;
    font: Bold Italic 16px/19px Roboto;
  }

  i {
    margin-left: -0.9rem;
    color: #FF4384;
  }
}